:root {
    --p: {{.Primary}};
    --pf: {{.PrimaryFocus}};
    --pc: {{.PrimaryContent}};

    --s: {{.Secondary}};
    --sf: {{.SecondaryFocus}};
    --sc: {{.SecondaryContent}};

    --a: {{.Accent}};
    --af: {{.AccentFocus}};
    --ac: {{.AccentContent}};

    --n: {{.Neutral}};
    --nf: {{.NeutralFocus}};
    --nc: {{.NeutralContent}};

    --b1: {{.Base100}};
    --b2: {{.Base200}};
    --b3: {{.Base300}};
    --bc: {{.BaseContent}};

    --in: {{.Info}};
    --su: {{.Success}};
    --wa: {{.Warning}};
    --er: {{.Error}};

    --rounded-box: {{.RoundedBox}};
    --rounded-btn: {{.RoundedButton}};
    --rounded-badge: {{.RoundedBadge}};

    --animation-btn: {{.AnimationButton}};
    --animation-input: {{.AnimationInput}};

    --padding-card: {{.PaddingCard}};

    --btn-text-case: {{.ButtonTextCase}};
    --navbar-padding: {{.NavbarPadding}};
    --border-btn: {{.BorderButton}};

    --focus-ring: {{.FocusRing}};
    --focus-ring-offset: {{.FocusRingOffset}};
}

html, body {
    font-family: {{.FontFamily}};
    background: {{.Background}};
}

/* background color */

.bg-primary {
    background-color: hsl(var(--p));
}

.bg-primary-focus {
    background-color: hsl(var(--pf));
}

.bg-primary-content {
    background-color: hsl(var(--pc));
}

.bg-secondary {
    background-color: hsl(var(--s));
}

.bg-secondary-focus {
    background-color: hsl(var(--sf));
}

.bg-secondary-content {
    background-color: hsl(var(--sc));
}

.bg-accent {
    background-color: hsl(var(--a));
}

.bg-accent-focus {
    background-color: hsl(var(--af));
}

.bg-accent-content {
    background-color: hsl(var(--ac));
}

.bg-neutral {
    background-color: hsl(var(--n));
}

.bg-neutral-focus {
    background-color: hsl(var(--nf));
}

.bg-neutral-content {
    background-color: hsl(var(--nc));
}

.bg-base-100 {
    background-color: hsl(var(--b1));
}

.bg-base-200 {
    background-color: hsl(var(--b2));
}

.bg-base-300 {
    background-color: hsl(var(--b3));
}

.bg-base-content {
    background-color: hsl(var(--bc));
}

.bg-info {
    background-color: hsl(var(--in));
}

.bg-success {
    background-color: hsl(var(--su));
}

.bg-warning {
    background-color: hsl(var(--wa));
}

.bg-error {
    background-color: hsl(var(--er));
}

/* text color */

.text-primary {
    color: hsl(var(--p));
}

.text-primary-focus {
    color: hsl(var(--pf));
}

.text-primary-content {
    color: hsl(var(--pc));
}

.text-secondary {
    color: hsl(var(--s));
}

.text-secondary-focus {
    color: hsl(var(--sf));
}

.text-secondary-content {
    color: hsl(var(--sc));
}

.text-accent {
    color: hsl(var(--a));
}

.text-accent-focus {
    color: hsl(var(--af));
}

.text-accent-content {
    color: hsl(var(--ac));
}

.text-neutral {
    color: hsl(var(--n));
}

.text-neutral-focus {
    color: hsl(var(--nf));
}

.text-neutral-content {
    color: hsl(var(--nc));
}

.text-base-100 {
    color: hsl(var(--b1));
}

.text-base-200 {
    color: hsl(var(--b2));
}

.text-base-300 {
    color: hsl(var(--b3));
}

.text-base-content {
    color: hsl(var(--bc));
}

.text-info {
    color: hsl(var(--in));
}

.text-success {
    color: hsl(var(--su));
}

.text-warning {
    color: hsl(var(--wa));
}

.text-error {
    color: hsl(var(--er));
}

.bold {
    font-weight: bold;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.input {
    flex-shrink: 1;
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-duration: var(--animation-input);
    -webkit-transition: var(--animation-input);
    transition: var(--animation-input);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
    line-height: 1.25rem;
    line-height: 2;
    border: 1px solid hsl(var(--bc));
    background-color: hsl(var(--b1));
    color: hsl(var(--bc));
    border-radius: var(--rounded-btn, .5rem);
    outline: none;
}

.input:focus {
    border: 1px solid hsl(var(--p));
}